# Sample .env file
#
# These are the minimum configuration variables required to start the sample
#
# See src/config.ts for details and for all the available configuration
# variables
#

HLF_CONNECTION_PROFILE_Rbi=

HLF_CERTIFICATE_Rbi=

HLF_PRIVATE_KEY_Rbi=

HLF_CONNECTION_PROFILE_Hdfc=

HLF_CERTIFICATE_Hdfc=

HLF_PRIVATE_KEY_Hdfc=

Rbi_APIKEY=

Hdfc_APIKEY=
